pyrogram==2.0.106
py-tgcalls==0.9.7
nodejs==18
parse-torrent-name
tgcrypto
yt-dlp
youtube-search-python
httpx==0.23.0
youtube-search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.4
